aioredis
black
bleach
celery
channels
channels-redis
crispy-bootstrap5
dateparser
python-decouple
Django
django-filter
django-crispy-forms
django-extensions
django-js-asset
django-readers
django-mptt
django-simple-history
django-lifecycle
whitenoise
hiredis
Jinja2
mistune
#lxml
pipdeptree
psycopg
python-dateutil
pytz
redis
requests
uvicorn
