{% if  standalone %} 
    {% extends "base.html" %} 
    {% block sidebar %}
        {%include "shared/sidebar.html"%}
    {%endblock%}
{% endif %}


{% block content%}
<div id="main-content" class="row" hx-swap-oob="true">
    <div class="card col-3" id="projects">
          <div class="card-header ">
              <span>Projects</span>
          </div>
          <ul class="list-group list-group-flush">
          </ul>
    </div>

    <div class="card col-9 pb-5">
        <div  id="main-sub-content">

        </div>
    </div>

    <script type="module" >
        import {ui_state, inplace_char_edit} from "d3-ui";
        const project_group = {{dumps(inst)|safe}};
        const green_yellow_red = ["#2ca02c", "#ff7f0e","#d62728"];
        const lis = d3.select("#projects ul")
          .selectAll("li.list-group-item")
          .data(project_group.projects,d=>d.id)
          .join("li")
          .attr("class","list-group-item p-1")

        const buttons =  lis
          .selectAll("button.project-link")
          .data(d=>[d],d=>d.id)
          .join("button")
          .attr( "class", "btn btn-link project-link text-start p-1")
          .attrs({
            "hx-target" : "#main-sub-content",
          })
          .attr("hx-get",d=>d.__url__)
          .html(d=>d.name)
          .each(function(d){
             const sel = d3.select(this)
             if (d.is_new){
                 sel
                    .append("span")
                    .attr("class","badge rounded-pill text-bg-success ms-2 d-inline")
                    .html("New")
             }
          })
          .setup_htmx()

        const dots = buttons
          .selectAll("svg")
          .data(d=>[d],d=>d.id)
          .join("svg")
                .attr("class", "ms-2")
                .attr("width", 10)
                .attr("height", 10)
              .append("circle")
                  .attr("cx", 5)
                  .attr("cy", 5)
                  .attr("r", 5)
                  .attr("fill", d=>{
                      console.log(d.last_look_age)
                      console.log(green_yellow_red[d.last_look_age])
                      return       green_yellow_red[d.last_look_age]
                  })


    </script>
</div>
{%endblock%}


