{#
 expects to be passed in:
   store_name : the principle model name
   attr: of the related model 
   title: the title to display to the user
   fields : dictionary of the fields
#}
{%with _id=random_id() %}
<div class="mb-1" >  
    {#  display mode #}
    <div  x-show="!($store.{{store_name}}.active_edit == model.id +'{{attr}}')" >
        <div style='max-width: 100%;font-size: 0.8em'
             class="justify-content-between d-flex align-items-center">
            {%if fields[attr] == 'BooleanField'%}
                <span class="mb-1" style="padding: .375rem .75rem; " >
                      {{title}}
                </span>
                <div class="form-check form-switch">
                    <input type="checkbox"
                           role="switch"
                           style="font-size: 1.5em"
                           class="form-check-input"
                           name="{{attr}}"
                           @change="send_model('{{attr}}',$event.target)" {# #} 
                           x-model="model.{{attr}}"></input>
                </div>
            {%elif fields[attr] ==  "DateField" %}
                <button type="button" 
                        class="btn btn-link mb-1" 
                        @click="edit_value('{{attr}}', '#{{_id}}');
                                $nextTick(()=>htmx.find('#{{_id}}').focus()); ">  {# move into edit mode #}
                        {{title}}:
                </button>
                <div >
                    <input type="date"
                           class="form-control"
                           name="{{attr}}"
                           @change="send_model('{{attr}}',$event.target)" {# #} 
                           x-model="model.{{attr}}"></input>
                </div>

            {%elif fields[attr] in ['CharField',  'TextField' ]%}
                <button type="button" 
                        class="btn btn-link mb-1" 
                        @click="edit_value('{{attr}}');
                                $nextTick(()=>htmx.find('#{{_id}}').focus()); 
                                $nextTick(()=>htmx.find('#{{_id}}').focus()); ">  {# move into edit mode #}
                        {{title}}:
                </button>
                <div class=""
                     x-text="model.{{attr}}" >
               </div>
            {%endif%}
        </div>
    </div>
    {# edit mode #}
    <div  x-show="$store.{{store_name}}.active_edit == model.id +'{{attr}}'" 
          style="display: none;"
          @keyup.escape="cancel_edit_value( '{{attr}}')" {# cancel out if ESC pressed #} >

            {%if fields[attr] == 'DateField'%}
            {# 
              use HTMX to send the text to the server and
              replace the date input
            #}
            <div class="d-flex align-items-center border p-1">
                <span class="input-group-text w-25" :id="'{{attr}}_input'+ model.id+'-label'">
                      {{title}}
                </span>
                <div class="align-items-center d-flex w-75" >
                    <input type="text"
                           class="form-control"
                           id="{{_id}}"
                           name="q"
                           autocomplete="off"
                           @keyup.debounce="dateparse($event.target, '{{attr}}')"
                           @keyup.enter="end_edit_value('{{attr}}',$event.target)" {# change the value on the server #} 
                           ></input>
                    <div class="btn-group">
                        <button type="button" 
                                class="btn btn-sm btn-success p-2"
                                @click="end_edit_value('{{attr}}',$event.target)"     {# change the value on the server #}
                            >✓</button>
                        <button type="button" 
                                class="btn btn-sm btn-danger p-2"
                                @click="cancel_edit_value( '{{attr}}')"    {# cancel out if ESC pressed #}
                            >✗</button>
                    </div>

                </div>
            </div>
            {%elif fields[attr] == 'CharField'%}
            <div class="d-flex align-items-center">
                <span class="input-group-text w-25" :id="'{{attr}}_input'+ model.id+'-label'">
                      {{title}}
                </span>
                <div class="w-75 d-flex align-items-center">
                    <input type="text"
                           id="{{_id}}"
                           class="form-control ps-0 pe-0"
                           name="{{attr}}"
                           @keyup.enter="end_edit_value('{{attr}}',$event.target)" {# change the value on the server #} 
                           x-model="model.{{attr}}"></input>
                    <button type="button" class="btn-close ms-2" aria-label="Close" @click="cancel_edit_fk_value('{{attr}}')"></button>

                </div>
            </div>
            {%elif fields[attr] == 'TextField'%}
            <div class="">
                <div class="align-items-center border p-1 w-100" >
                    <span class="input-group-text w-100" :id="'{{attr}}_input'+ model.id+'-label'">
                          {{title}}
                    </span>
                    <textarea type="date"
                              id="{{_id}}"
                              class="form-control mt-1"
                              rows="5"
                              name="{{attr}}"
                              @focus=""
                              x-model="model.{{attr}}"></textarea>
                    <div class="btn-group pt-2">
                        <button type="button" 
                                class="btn btn-sm btn-success"
                                @click="end_edit_value('{{attr}}',$event.target)"     {# change the value on the server #}
                            >✓</button>
                        <button type="button" 
                                class="btn btn-sm btn-danger"
                                @click="cancel_edit_value( '{{attr}}')"    {# cancel out if ESC pressed #}
                            >✗</button>
                    </div>
                </div>
            </div>
            {%endif%}
    </div>
</div>
{% endwith %}
