{% if  standalone %} 
    {% extends "base.html" %} 
    {% block sidebar %}
        {%include "shared/sidebar.html"%}
    {%endblock%}
{% endif %}


{% block content%}
<div id="main-content" class="row" hx-swap-oob="true">
    <div class="card" id="projects">
          <div class="card-header d-flex justify-content-between">
              <span>Projects</span>
              <span>Follow</span>
          </div>
          <ul class="list-group list-group-flush">
          </ul>
    </div>

    <script type="module" >
        import fetch_recipies from "fetch-recipies";
        import {ui_state, inplace_char_edit, create_button,fk_toggle} from "d3-ui";
        const project_group = {{dumps(inst)|safe}};

        d3.select("#projects ul")
          .selectAll("li.list-group-item")
          .data(project_group.projects,d=>d.id)
          .join("li")
          .attr("class","list-group-item d-flex justify-content-between")
          .each(function(d){
             const sel = d3.select(this)
              
             sel
                .selectAll("a.project-link")
                .data(d=>[d],d=>d.id)
                .join("a")
                .attr( "class", "btn btn-link project-link")
                .attrs({
                  "hx-replace-url":"true",
                  "hx-swap":"outerHTML",
                  "hx-target" : "#main-content",
                })
                .attr("hx-get",d=>d.__url__)
                .html(d=>d.name)
                .setup_htmx()


              if ( !ui_state.user.groups.map(d=>d.id).includes(project_group.id) ){
                  fk_toggle(sel,d.viewers,"viewers",{on_change : "reloadMinProject"})
              }

          })

    </script>
</div>
{%endblock%}

