{% if  standalone %} {% extends "base.html" %} {% endif %}


{% block content%}
<div id="main-content" class="row">
    <div class="col-4" id="teams">
        <div class="card">
          <div class="card-header">Team </div>
          <ul class="list-group list-group-flush">
          </ul>
        </div>
    </div>
    <div class='col-8' id="projects">
        <div class="card">
          <div class="card-header">Projects</div>
          <ul class="list-group list-group-flush">
          </ul>
        </div>
    </div>
</div>

<script type="module">
    import fetch_recipies from "fetch-recipies";
    import {ui_state, inplace_char_edit, create_button,append_edit_attr} from "d3-ui";
    var active = -1;

    const refresh_groups = async ()=>{
        const teams = await  fetch_recipies.GETjson(ui_state.models["project.ProjectGroup"].main);
        if (teams.length && active==-1){
            active = teams[0].id;
        }
        if (active!=-1){
            _.find(teams,d=>d.id==active).active = true
            render_groups(teams);
            const single_group = await fetch_recipies.GETjson(ui_state.models["project.ProjectGroup"].main_pk.replace("__pk__", active));
            if (single_group.project_count){
                render_projects(single_group.projects);
            }
        }
    }

    const render_groups = async (teams)=>{
        d3.select("#teams ul")
          .selectAll("li.list-group-item")
          .data(teams,d=>d.id)
          .join("li")
          .attr("class","list-group-item")
          .classed("active",d=>{
              return d.active
          })
          .selectAll("a")
          .data(d=>[d],d=>d.id)
          .join("a")
          .attr( "class", "btn btn-link")
          .classed("text-white",d=>d.active)
          .html(d=>`${d.name}  (${d.project_count})`)
          .on("click",(e,d)=>{
              active = d.id;
              refresh_groups();
          });
    };
    const render_projects = async (projects)=>{
        d3.select("#projects ul")
          .selectAll("li.list-group-item")
          .data(projects,d=>d.id)
          .join("li")
          .attr("class","list-group-item")
          .selectAll("a.project-link")
          .data(d=>[d],d=>d.id)
          .join("a")
          .attr( "class", "btn btn-link project-link")
          .attrs({
            "hx-replace-url":"true",
            "hx-swap":"outerHTML",
            "hx-target" : "#main-content",
          })
          .attr("hx-get",d=>ui_state.models["project.Project"].main_pk.replace("__pk__", d.id))
          .html(d=>d.name)
          .setup_htmx()
    };
    refresh_groups();
</script>
{%endblock%}

