{%for relation in results.values() %}
    {%if relation.results %}
    <div x-data='{
        results : {{ json.dumps(relation.results)|safe }},
        name : "{{relation.name.replace("_", " ").title() }}"  ,
        many_to_many : {{json.dumps(relation.many_to_many)}} }' 
         class='d-flex pt-2 bg-secondary bg-opacity-10 justify-content-between {%if loop.last%}pb-2{%endif%}'
         style='font-size: 0.8em' >
        <span x-bind:class="'m-1 pe-2 align-self-center  text-secondary ' + (results[0][1].length > 1 && !many_to_many ? 'fbg-danger bg-opacity-25' : '')"
              x-text="name + ':'" >
        </span>
        <div style='overflow-x: scroll, max-width: 100%'>
        <ul class="list-group list-group-horizontal" >
            <template x-for="grouping in results" >
                <template x-for="match in grouping[1]">
                    <li class="list-group-item d-flex p-1 me-1 bg-opacity-10 border-1 w-100 fw-bold"  
                        style="background-color: {{relation.model.trigger_color}};
                               border-color:{{relation.model.hex_trigger_color}};">
                        <span  x-text="match.name"></span>
                        <span class="badge bg-success ms-1" x-show="match.new"> New</span> 
                    </li>
                </template>
            </template>
        </ul>
        </div>

    </div>
    {%endif%}
{%endfor%}
