<ul class="navbar-nav" id="navbar-nav" hx-swap-oob="true">
  <li class="nav-item">
    <a class="nav-link " aria-current="page" href="#">Home</a>
  </li>
 {%for template in navbar %}
     {%include template%}
 {%endfor%}

  <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Account 👤
     </a>
     <ul class="dropdown-menu" id="nav-dropdown">
         {%for template in navdropdown %}
             {%include template%}
         {%endfor%}
        <li><a href="{{ url("core:_logout")}}" class="dropdown-item">Logout</a></li>
    </ul>
  </li>
</ul>
