<ul class="navbar-nav me-4" id="navbar-nav" hx-swap-oob="true">
 {%for template in navbar %}
     {%include template%}
 {%endfor%}
  <li class="nav-item dropdown">
     <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
         {{request.user.username}} 👤
     </a>
     <ul class="dropdown-menu" id="nav-dropdown">
         {%for template in navdropdown %}
             {%include template%}
         {%endfor%}
        <li><a href="{{ url("core:_logout")}}" class="dropdown-item">Logout</a></li>
    </ul>
  </li>
</ul>
