body {
  min-height: 45rem;
  padding-top: 4.5rem;
}
[x-cloak] { display: none !important; }
.hover-highlight:hover {
  background-color: #eee;
}
.hover-show{
  visibility: hidden;
}
.hover-parent:hover .hover-show{
  visibility: visible;
}
.hide {
    visibility: hidden;
    height: 0px;
    opacity:0;
    transition: height 0s linear .5s, opacity .5s linear; 
}
.hide.show {
    visibility: visible;
    height: 100%;
    opacity: 1;
    transition: opacity .5s linear; 

}
.fade-me-out.htmx-swapping {
  opacity: 0;
  transition: opacity 1s ease-out;
}
.fade-me-out.htmx-swapping.highlight-fade {
  background: #dc3545;
}
/*
 * independently scrolling sidebar
 */
.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 6rem);
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;
    scrollbar-width: none;
  }

 /*
  * Custom purple button
  */
.btn-attention {
  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: #5a23c8;
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.responsive-svg {
    width: 100%;
    height: auto;
}

.green {
  fill :   #2ca02c
}

.yellow {
  fill :  #ff7f0e 
}

.red {
  fill : #d62728
}
