{% if  standalone %} 
    {% extends "base.html" %} 
    {% block sidebar %}
        {%include "shared/sidebar.html"%}
    {%endblock%}
{% endif %}

{% block nav %}
    {%with navbar=["project/filters.html"],navdropdown=[]%}
        {%include "navbar.html"%}
    {%endwith%}
{%endblock%}

{% block content %}
<div id="main-content" >
    <div id="smart_input" x-data>
        <p style="font-size: 0.8em" class="text-secondary mb-0">
            {{models["project.Project"].describe_links()}}
        </p>
        <div hx-on::after-request="event.detail.requestConfig.verb == 'post' ? window.reset_ui('reloadProjects') : false">
            <div hx-trigger="load"
                 hx-swap="outerHTML"
                 hx-get="{{url("core:create_from_parsed", kwargs={"attr" :"name", "m" : "project.Project"})}}">
            </div>
        </div>
    </div>

    <div hx-trigger="load, reloadProjects from:document" 
         data-model="project.Project"
         data-check-for-filters="true"
         hx-get="{{url("core:main", kwargs={"m":"project.Project"})}}">
    </div>

</div>
{%endblock%}
