{% if  standalone %} {% extends "base.html" %} {% endif %}

{% block nav %}
    {%with navbar=[],navdropdown=[]%}
        {%include "navbar.html"%}
    {%endwith%}
{%endblock%}

{% block sidebar %}
    {%include "shared/sidebar.html"%}
{%endblock%}

{% block content %}
<div id="main-content" hx-swap-oob="true">
    <div class="row">
        <div hx-trigger="load, reloadTags from:document" 
             hx-get="{{url("core:main", kwargs={ "m" : "project.Tag"})}}"
             class="col-4">
        </div>
        <div hx-trigger="load, reloadProjectUsers from:document" 
             hx-get="{{url("core:main", kwargs={ "m" : "project.ProjectUser"})}}"
             class="col-4">
        </div>
        <div hx-trigger="load, reloadTeams from:document" 
             hx-get="{{url("core:main", kwargs={ "m" : "project.ProjectGroup"})}}"
             class="col-4">
        </div>

    </div>
</div>
{% endblock %}

