<div id="sidebar" class="sidebar">
   <a class="link bodb-emphasis d-block mt-3 d-block" hx-get="{{url("project:dashboard")}}" href="#" hx-target="#main-content" hx-replace-url="true">Dashboard</a>

   <a class="link body-emphasis d-block mt-3 d-block" hx-get="{{url("project:main")}}" href="#" hx-target="#main-content" hx-replace-url="true">My Projects</a>
   <div id="myprojects">
       <div class="placeholder-glow">
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
        </div>
   </div> 
   <div class=" mt-3">
       <a class="link body-emphasis d-block" 
          hx-get="{{url("project:timereporting")}}" 
          href="#" 
          hx-target="#main-content" 
          hx-replace-url="true">Time Reporting</a>
    </div>

   <div id="team-header" class="body-emphasis mt-3">Team</div>
   <div id="myteam">
       <div class="placeholder-glow">
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
        </div>
   </div> 

   <div class="body-emphasis mt-3">Groups</div>
   <div id="groups"> 
       <div class="placeholder-glow">
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
           <div class="col-12 placeholder placeholder-xs"></div>
        </div>
   </div> 
    <a class="link body-emphasis mt-3 d-block" hx-get="{{url("project:metadata")}}" href="#" hx-target="#main-content" hx-replace-url="true">Edit Tags / Users</a>
</div>

<script type="module">
import {ui_state,reaction} from "d3-ui";
export const sidebar_state = mobx.makeAutoObservable({
     current_url :  "{{request.path}}",
     redraw : 0,
});
const redraw = (id,data)=> {
  d3.select(id)
   .html("")
   .selectAll("ul")
     .data([1])
     .join("ul")
     .styles({
     "padding-left" : "2px",
     "list-style" : "none",
     "max-height" : "300px", 
     "overflow-x" : "hidden", 
     "overflow-y" : "auto", 
     "scrollbar-width" : "thin"})
     .setup_htmx()
     .selectAll("li")
     .data(data,d=>d.id)
     .join("li")
     .attr("class","pt-2 text-nowrap")
     .selectAll("span")
     .data(d=>[d],d=>d.id)
     .join("span")
     .attr("class" , "pt-2")
     .selectAll("a")
     .data(d=>[d],d=>d.id)
     .join("a")
     .attr("class" , "link-secondary d-block")
     .classed("text-decoration-none",true)
     .attr("hx-get",d=>d.__url__)
     .style("font-size", "0.8rem")
     .attrs({
       "href" : "#",
       "hx-headers":'{"json-response" : "false"}',
       "hx-target":"#main-content",
       "hx-replace-url":"true",
     })
     .setup_htmx()
     .html(d=>{
         return d.name
     })

     // remove any markers of the active element
     d3.selectAll(`#sidebar *[hx-get]`)
        .classed( "bg-primary text-white p-2 rounded text-white",false);
    // find the sidebar element which links to the active url and set the colours
     d3.select(`#sidebar *[hx-get="${sidebar_state.current_url}"]`)
        .classed("bg-primary text-white p-2 rounded text-white", true)

}
// don't use d3-ui reaction, since this is a permenant sidebar until a page-refresh
mobx.reaction(
    ()=>[ui_state.models["project.ProjectGroup"].refresh_time, 
         ui_state.models["user"].refresh_time,
         sidebar_state.redraw,
    ], 
    ()=>{
       redraw("#groups",ui_state.models["project.ProjectGroup"].data);
       redraw("#myprojects",ui_state.models["user"].data.projects);
       if(ui_state.models["user"].data.manages){
           redraw("#myteam",ui_state.models["user"].data.manages.team_members);
       } else {
          d3.select("#team-header").remove();
       }
    });

// redraw before a url changing request
document.addEventListener("htmx:beforeRequest",event => {
   if ("hx-replace-url" in event.target.attributes){
         sidebar_state.current_url =  event.target.attributes["hx-get"].value
         sidebar_state.redraw++;
   }
})

if (ui_state.models["project.Project"].data.length == 0){
     ui_state.refresh_model_store("project.ProjectGroup")
} else {
    ui_state.models["user"].refresh_time = Date.now();
}

</script>
