<div id="sidebar" class="sidebar">
   <a class="link body-emphasis" hx-get="{{url("project:main")}}" href="#" hx-target="#main-content" hx-replace-url="true">My Projects</a>
   <div id="my-projects" 
       hx-trigger="reloadMinProject from:document" 
       hx-get="{{url("core:main", kwargs={"m" : "project.MinProject"})}}" 
       hx-swap="none"
       hx-headers='{"json-response" : "true"}'>
   </div> 
   <div class=" mt-2">
       <a class="link body-emphasis" 
          hx-get="{{url("project:timereporting")}}" 
          href="#" 
          hx-target="#main-content" 
          hx-replace-url="true">Time Reporting</a>
    </div>

   <div id="team-header" class="body-emphasis mt-2">Team</div>
   <div id="team"> 
   </div> 

   <div class="body-emphasis mt-2">Groups</div>
   <div id="groups" 
        hx-trigger="reloadTeams from:document"
        hx-get="{{url("core:main", kwargs={"m" : "project.ProjectGroup"})}}" 
       hx-swap="none"
       hx-headers='{"json-response" : "true"}'> 
   </div> 

    <a class="link body-emphasis mt-2" hx-get="{{url("project:metadata")}}" href="#" hx-target="#main-content" hx-replace-url="true">Edit Tags / Users</a>
</div>

<script type="module" id="sidebar-js" hx-swap-oob="true">
import {ui_state} from "d3-ui";
export const sidebar_state = mobx.makeAutoObservable({
     current_url :  "{{request.path}}",
     groups : [],
     projects : [],
     redraw : 0,
     team : ui_state.user.manages ? ui_state.user.manages.users : false,
});
mobx.reaction(
    ()=>[sidebar_state.groups.length, sidebar_state.projects.length, sidebar_state.redraw], 
    ()=>{
       redraw("#groups",sidebar_state.groups);
       redraw("#my-projects",sidebar_state.projects);
       if(sidebar_state.team){
           redraw("#team",sidebar_state.team);
       } else {
          d3.select("#team-header").remove();
       }
    });
// capture all the clicks and don't interere with the htmx click
d3.select("#sidebar")
      .on("click", e=>{
         if (e.target.tagName == "A") {
             d3.select("#main-content").html("");
             if (d3.select(e.target).datum()) {
                 sidebar_state.current_url = d3.select(e.target).datum().__url__;
             } 
             ui_state.reset_ui(false);
             sidebar_state.redraw++;
         }
      });
const redraw = (id,data)=> {
  d3.select(id)
   .selectAll("ul")
     .data([1])
     .join("ul")
     .styles({
     "padding-left" : "2px",
     "list-style" : "none",
     "max-height" : "300px", 
     "overflow-x" : "hidden", 
     "overflow-y" : "auto", 
     "scrollbar-width" : "thin"})
     .setup_htmx()
     .selectAll("li")
     .data(data,d=>d.id)
     .join("li")
     .attr("class","pt-2 text-nowrap")
     .selectAll("span")
     .data(d=>[d])
     .join("span")
     .attr("class" , d=> {
         if (d.url == sidebar_state.current_url){
            return "bg-primary text-white p-2 rounded"
         }  else {
            return "pt-2"
         }
     })
     .selectAll("a")
     .data(d=>[d])
     .join("a")
     .attr("class" , d=> {
         if (d.url == sidebar_state.current_url){
            return "text-white"
         }  else {
            return "link-secondary"
         }
     })
     .classed("text-decoration-none",true)
     .attr("hx-get",d=>d.__url__)
     .style("font-size", "0.8rem")
     .attrs({
       "href" : "#",
       "hx-headers":'{"json-response" : "false"}',
       "hx-target":"#main-content",
       "hx-replace-url":"true",
     })
     .setup_htmx()
     .html(d=>d.name)
}
document.body.addEventListener('htmx:afterOnLoad', async event => {
    const target = event.detail.target;
    if ( "id" in target.attributes){
      if (target.attributes["id"].value == "my-projects"){
          const data = JSON.parse(await event.detail.xhr.responseText);
          sidebar_state.projects = data
      }  
      if (target.attributes["id"].value == "groups"){
          const data = JSON.parse(await event.detail.xhr.responseText);
          sidebar_state.groups = data
      }
    } 
})
document.dispatchEvent(new Event("reloadMinProject"))
document.dispatchEvent(new Event("reloadTeams"))

</script>
