<div class="row pb-5" style="overflow-x: scroll;flex-wrap: nowrap">
    {% for inst in insts %}
        {% include "stream/stream.html"%}
    {%endfor%}
</div>

<a class="dropdown-item" 
   hx-put="{{url("core:main", kwargs={ "m" : "project.Settings", "pk" : settings.id})}}" 
   hx-vals='{"hide_done" : {%if settings.hide_done%}false{%else%}true{%endif%} }'
   hx-swap="none"
   hx-headers='{"json-response" : true}'
   hx-on::after-request="window.reset_ui('reloadTasks')"
   hx-swap-oob="true"
   id="settings-completed" >
    {%if settings.hide_done%} Show All {%else%} Hide Completed {%endif%}
</a>

<script type="module">
import  { 
    append_edit_attr,
    ui_state,
    make_right_dropdown,
    autoRun,
    is_null,
    create_button,
    inplace_char_edit,
     card_state,
    make_delete_button} from "d3-ui";

const stream_mini = (stream)=>{

    if (d3.select(`#stream${stream.id}`).node() == null){
        return;
    }
    d3.select(`#stream${stream.id}`)
        .call(function(selection){
            inplace_char_edit(selection.append("span"), stream, "name", "Name",{display_attr : "name_count"});
            make_delete_button(selection.append("div"), stream, d=>d.id, "reloadTasks")
        })
    d3.selectAll(`#stream${stream.id}`).node()
};

const task_summary = task=>{

    if (d3.select(`#task${task.id}`).node() == null){
        return;
    }

    d3.select(`#task${task.id}`)
        .data([task])
        .call(function(selection){
            const header_sel =  selection.select(".card-header");
            header_sel.html(""); // clear out placeh9olders
            const header_left = header_sel.append("div").classed("flex-fill",true);
            const body_sel = selection.select(".card-body");
            const footer_sel = selection.select(".card-footer");
            body_sel.html(""); // clear out placeh9olders
            make_right_dropdown(
                header_sel,
                dropdown=>{
                     make_delete_button( dropdown.append("li").append('span').classed("dropdown-item d-grid",true),task,d=>d.id, "reloadTasks",{html : "Delete", _class : "btn btn-danger"})
                },
                {_class : "btn me-1"}
            );
            inplace_char_edit(header_left.append("div").style("width","15%").style("display","inline-block"), task, "order", "Order",{btn_class : "btn-outline-dark", on_change : "reloadTasks", input_class : "w-25"} );
            inplace_char_edit(
               header_left.append("div").style("width","85%").style("display","inline-block"), 
               task, 
               "name", 
               "Name",
               {btn_class : "btn-link link-dark"}
               );

            autoRun(selection.node(),()=>{
                card_state.redraw
                body_sel.html("")
                _.each([["text","Notes", {display_attr:"text_m"}],
                        ["start_date", "Start Date",""],
                        ["target_date","Target Date",""],
                        ["lead", "Contact",{name_attr : "username"}],
                        ["teams", "Teams",{name_attr : "name"}],
                        ["competency", "Competency",""],
                        ["stream", "Stream",{on_change : "reloadTasks"}]
                        ], 
                    args=>{
                        if(card_state.minified_cards.includes(task.id) && !is_null(task[args[0]])){
                            append_edit_attr(body_sel, task, ...args);
                        } else if ( !card_state.minified_cards.includes(task.id)){
                            append_edit_attr(body_sel, task, ...args);
                        }
                });

                footer_sel   
                    .selectAll("div.left")                                                 
                    .data([1])
                    .join("div")
                    .classed("left fs-6 d-flex justify-content-center align-items-center", true)
                    .html("")
                    .append("button")
                    .classed("btn btn-small  py-0 px-1 my-1", true)
                    .html(d=> card_state.minified_cards.includes(task.id) ? "+" : "-")
                    .on("click", e => {
                        card_state.toggle_minified_state("task",task)
                    });
            });

           footer_sel   
                .classed("d-flex justify-content-between align-items-center", true)
                .append("div")
                .call(function(foodter_sel){
                   append_edit_attr(foodter_sel, task, "done", "",{on_change : "reloadTasks", add_bottom_margin : false});
                })
        })
};

const streams =  await ui_state.refresh_model_store("{{model_label}}", {{dumps(insts)|safe}});
_.each(streams, stream_mini);
const tasks =  await ui_state.refresh_model_store("project.Task",_.flatten( _.map(streams,d=>d.tasks)) );
_.each(tasks, task_summary)
card_state.register(tasks);

</script>
