<div class="row" style="overflow-x: scroll;flex-wrap: nowrap">
    {% for inst in insts %}
        {% include "stream/stream.html"%}
    {%endfor%}
</div>


<script type="module">
import {task_summaries} from "{{ static('task_summary.js') }}";
import {stream_mini} from "{{ static('stream_mini.js') }}";
_.chain({{dumps(insts)|safe}})
 .each(stream_mini)
 .map(s=>s.tasks)
 .each(task_summaries)
 .value()

</script>


<a class="dropdown-item" 
   hx-put="{{url("core:rest", kwargs={ "m" : "project.Settings", "pk" : settings.id})}}" 
   hx-vals='{"hide_done" : {%if settings.hide_done%}false{%else%}true{%endif%} }'
   hx-swap="none"
   hx-headers='{"json-response" : true}'
   hx-on::after-request="window.reset_ui('reloadTasks')"
   hx-swap-oob="true"
   id="settings-completed" >
    {%if settings.hide_done%} Show All {%else%} Hide Completed {%endif%}
</a>
