{% extends "base.html" %}

{% block content%}
<form method="post">
  <div class="mb-3">
    <label for="{{ form.name.id_for_label }}" class="form-label">Name</label>
    <input class="form-control" 
           id="{{form.name.id_for_label }}" 
           name="{{form.name.id_for_label }}"
           hx-trigger="keyup changed"
           autocomplete="off" 
           hx-target="#tags-list"
           hx-post="{{url("project:ac", kwargs={"component_id" :form.name.id_for_label, "m" : "project.Tag" })}}"/>
    <div id="tags-list"></div>
  </div>

  <div class="mb-3">
    <label for="{{ form.tags.id_for_label }}" class="form-label">Tag</label>
    <div hx-trigger="load"
         hx-swap="replace"
         hx-get="{{typeahead_url_kwargs}}"
         >
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{%endblock%}

