{% extends "base.html" %}

{% block content%}

<div id="smart_input" x-data>
    <p style="font-size: 0.8em" class="text-secondary mb-0">
        {{Project.describe_links()}}
    </p>
    <div hx-trigger="load"
         hx-get="{{url("core:create_from_parsed", kwargs={"attr" :"name", "m" : "project.Project"})}}">
    </div>
</div>


<div id="project_content" >
    <div hx-trigger="load" 
         hx-swap="outerHTML"
         hx-get="{{url("core:rest", kwargs={"m":"project.Project"})}}">
    </div>
</div>


{%endblock%}

<script>
    {% block scripts%}
    document.addEventListener('alpine:init', () => {
        setup_rest_model_store("project",{{dumps(Project.form_fields_map)|safe}});
    });
    {%endblock%}
</script>

