<div class="row mt-2" >
    {% for project in insts  %}
        <div class="col-6 mb-3">
           {% include "project/project_summary.html"  %}
        </div>
    {%endfor%}

    <script type="module">
    import  { reaction, append_edit_attr,ui_state, make_right_dropdown, create_button , is_null, make_delete_button, card_state} from "d3-ui";
    const project_summary = project => {
        const root = d3.select(`#project${project.id}`)
            .call(function(selection){
               const body_sel = selection.select(".card-body");
               const footer_sel = selection.select(".card-footer");
               const header_sel =  selection.select(".card-header");
               make_right_dropdown(header_sel,dropdown=>{
                    make_delete_button( dropdown.append("li"),project,d=>d.id, "reloadProjects",{html : "Delete"})
               });
               header_sel
                    .append("div")
                    .classed(`mb-1 name-row editor-normal`, true)
                    .append("button")
                    .classed("btn btn-link pb-1 ps-0 text-end d-inline",true)
                    .attrs({
                        "hx-replace-url":"true",
                        "hx-target" : "#main-content",
                        "hx-get" : project.__url__,
                    })
                    .setup_htmx()
                    .html(project.name)
                    .call(function(sel2){
                       if (project.is_new){
                           sel2
                              .append("span")
                              .attr("class","badge rounded-pill text-bg-success ms-2 d-inline")
                              .html("New")
                       }
                    })

                const fields =  [["status","Status"],
                                  ["text", "Summary"],
                                  ["type","Type"],
                                  ["group","Team",{on_change : "reloadProjects"}],
                                  ["streams", "Streams",{read_only:true, name_attr:"name_count"}],
                                  ["lead", "Lead", {name_attr : "username"}],
                                  ["project_manager", "Project Manager", {name_attr : "username"}],
                                  ["project_team", "Project Team", {name_attr : "username"}],
                                  ["tags", "Tags"],
                                  ["partners", "Partners" ],
                                  ];

               reaction(
                  selection.node(),
                  ()=> card_state.redraw.slice(),
                  ()=>{
                      if (card_state.redraw.includes(project.id)) {
                           body_sel.html("")
                          _.each(fields, 
                              args=>{
                                  if(card_state.minified_cards.includes(project.id) && !is_null(project[args[0]])){
                                      append_edit_attr(body_sel, project, ...args);
                                  } else if ( !card_state.minified_cards.includes(project.id)){
                                      append_edit_attr(body_sel, project, ...args);
                                  }
                         });

                         footer_sel   
                              .selectAll("div.left")                                                 
                              .data([1])
                              .join("div")
                              .classed("left fs-6 d-flex justify-content-center align-items-center expand-task text-body-tertiary text-body", true)
                              .html("")
                              .append("button")
                              .classed("btn btn-small btn-light p-1 mb-1", true)
                              .html(d=> card_state.minified_cards.includes(project.id) ? "+" : "-")
                              .on("click", e => {
                                  card_state.toggle_minified_state("project",project)
                              });
                      }
                })
                
                footer_sel   
                     .classed("d-flex justify-content-between align-items-center", true)
                     .append("div")
                     .call(function(foodter_sel){
                        append_edit_attr(foodter_sel, project, "private", "Private");
                     })
            })
    };

    await ui_state.refresh_model_store("project.Project",{{dumps(insts)|safe}} )
    _.each(ui_state.models["project.Project"].data, project_summary);
    card_state.register(ui_state.models["project.Project"].data);

    </script>
</div>
