<div class="row mt-2" >
    {% for project in insts  %}
        <div class="col-6 mb-3">
           {% include "project/project_summary.html"  %}
        </div>
    {%endfor%}
</div>

<script type="module">
import { ui_state, autoRun } from "d3-ui";
import {project_summary} from "{{ static('project_summary.js') }}";
import "d3";
const projects =  {{dumps(insts)|safe}};

_.each(projects, p=> project_summary( p, "true"));

//autoRun(async ()=>{
//    if (ui_state.active_elements.length == projects.length){
//       _.each(_.keys(ui_state.models['project.Project'].fields),attr=>{
//            const classq =  `.${attr}-row.editor-normal`;
//            const max_height =  _.max(_.map(d3.selectAll(classq).nodes(),n=>n.offsetHeight)) + "px";
//            d3.selectAll(classq).style("height", max_height);
//       })
//    }
//});
</script>
