{% if  standalone %} {% extends "base.html" %} 
    {% block scripts%}
    document.addEventListener('alpine:init', () => {
        setup_rest_model_store("project",{{dumps(models["project.Project"].form_fields_map)|safe}});
        setup_rest_model_store("task",{{dumps(models["project.Task"].form_fields_map)|safe}});
    });
    {%endblock%}
{% endif %}

{% block content %}

<div id="smart_input" hx-swap-oob="true" >

</div>

<div id="main-content" hx-swap-oob="true">
    {% with project=inst %}
    {% if  not standalone %}  
    <script async>
        setup_rest_model_store("project",{{dumps(models["project.Project"].form_fields_map)|safe}});
        setup_rest_model_store("task",{{dumps(models["project.Task"].form_fields_map)|safe}});
    </script>
    {% endif %}

    <div class="row">
            {%with add_title_links=False  %}
               {% include "project/project_summary.html"  %}
            {%endwith%}
        <div class="col-8" 
             x-data="{show : false}">
            <button class="btn btn-link" 
                    x-show="!show"
                    @click="show=true;
                            $nextTick(()=>htmx.find('#taskname').focus());
                            htmx.find('#taskname').value='';
                            htmx.find('#tasknameparsed').innerHTML='';">
               + Add Task
            </button>
            <div x-show="show" x-data>
                {%with params=add_encode_parameter("f",{"ac_filters" :  { "stream" : { "project_id" :inst.id }},
                                                   "attach_to": {"attr" : "project", "pk" : inst.id},
                                                   "trigger" : make_signal_from_model("project.Task"),
                                                   "exclude" :  ["project"]}),
                       _url =  url("core:create_from_parsed", kwargs={"attr" :"name", "m" : "project.Task"})
                %}
                    <p style="font-size: 0.8em" class="text-secondary mb-0">
                        {{models["project.Task"].describe_links(excludes="project")}}
                    </p>
                    <div class='d-flex align-items-center'>
                        <div hx-trigger="load"
                             style="width: 90%;"
                             @keyup.esc="show=false"
                             hx-get="{{_url}}?{{params}}">
                        </div>
                        <button type="button" 
                                  class="btn-close ms-2  p-2" 
                                  style="opacity: 0.3;"
                                  aria-label="Close" 
                                  x-show="show"
                                  @click="show=false;">  {# cancel out if button pressed #}
                        </button>
                    </div>
                {%endwith%}
            </div>
        </div>
    </div>
    {% with insts=project.streams %}
       {% include "stream/streams.html"  %}
    {%endwith %}
    {%endwith%}
{%endblock%}
