<div class="col-4 border" 
     x-data="projects_store(
    {{project|safe}}, 
    '{{url('core:rest', kwargs={'pk' :project.id, 'm' : 'project.Project'})}}',
    '{{url('core:text_ac', kwargs={'pk' :project.id,'attr' : "__replace__", 'm' : 'project.Project'})}}',
    )">
        <button type="button" 
                class="btn btn-link pb-1 ps-0"    
                x-html="project.name"
                {% if add_title_links %}
                hx-push-url="true"
                hx-get="{{url('core:rest', kwargs={'pk' :project.id, 'm' : 'project.Project'})}}"
                {% endif  %} > 
        </button>
        <div class="text-dark text-opacity-75 lh-1 mb-2 " 
             style="font-size: 0.8em;"
             x-html="project.text">
        </div>
    <div  x-cloak class="mb-1">
        <div x-show="!($store.projects.active_edit == project.id +'summary')">
            <div style='overflow-x: scroll, max-width: 100%;font-size: 0.8em'
                 class="justify-content-between align-items-center d-flex" >
                <button type="button" class="btn btn-link mb-1"    
                        style="font-size: 0.8em;"
                        @click="edit_value( 'streams') "> 
                Streams:
                </button>
                <ul class="list-group list-group-horizontal justify-content-between align-items-center d-flex" >
                    <template x-for="stream in project.streams">
                        <li class="list-group-item d-flex p-1 me-1 bg-opacity-10 border-1 w-100 fw-bold"  
                            style="background-color: rgba(163,206,241,0.3);
                                   border-color: #a3cef1;">
                            <span x-html="stream.repr" class="text-nowrap"></span>
                        </li>
                    </template>
                </ul>
            </div>
        </div>

        <form x-show="$store.projects.active_edit == project.id +'summary'" 
              style="width: 100%;"
              method="post"
              hx-swap="none"
              hx-headers='{"json-response" : true}'
              hx-post="{{url("core:rest", kwargs={"m" : "project.Stream" })}}"
              hx-vals='{"project" :  {{project.id}} }'
              @keyup.escape="cancel_edit_value('stream')"
              @htmx:after-settle="'errors' in JSON.parse($event.detail.xhr.response) ? null :  update_store()">

            <div class="input-group input-group-sm d-flex align-items-center ">
              <span class="input-group-text" 
                    id="stream-name-label">Stream Name
              </span>
              <input type="text" 
                     class="form-control" 
                     aria-label="" 
                     aria-describedby="stream-name-label"
                     name="name"
                     id="streams_input{{project.id}}"
                     @keyup.enter="cancel_edit_value('stream')">
              <button type="button" class="btn-close ms-2" aria-label="Close" @click="cancel_edit_value( 'stream')"></button>
            </div>
        </form>
    </div>

    {% with model=models["project.Contact"], attr = "point_of_contact", title = "Contact" %}
        {% include "project/alpine_fragments/edit_project_attr.html"  %}
    {%endwith%}
    {% with model=models["project.Tag"], attr = "tags", title = "Tag" %}
        {% include "project/alpine_fragments/edit_project_attr.html"  %}
    {%endwith%}
    {% with model=models["project.Team"], attr = "teams", title = "Teams" %}
        {% include "project/alpine_fragments/edit_project_attr.html" %}
    {%endwith%}
</div>
